.dashboard {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    z-index: 1000;
}



.bin-details {
    position: fixed;
    top: 80px; /* Adjust based on header height */
    right: 0;
    width: 300px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.bin-details h3 {
    text-align: center;
}

.table-fixed {
    table-layout: fixed;
    width: 100%;
}

.table-fixed th, .table-fixed td {
    width: 100px; /* Fixed width for all cells */
    height: 100px; /* Fixed height for all cells */
    text-align: center;
}

.group-container {
    width: 1500px;
    overflow-x: auto; /* Horizontal scroll for wracks */
}

.groups-scroll {
    max-height: calc(100vh - 120px); /* Adjust based on header and margin */
    overflow-y: auto; /* Vertical scroll for groups */
}

.toast-container {
    width: 350px; /* Adjust to fit content */
}

.button-styled {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-styled:hover {
    background-color: #0056b3;
}
